/* fonts */

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/sofiapro/SofiaProRegular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/sofiapro/SofiaProMedium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/sofiapro/SofiaProSemiBold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/sofiapro/SofiaPro-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    font-family: "Sofia Pro", sans-serif;
    color: #1b1443;
}

*,
:after,
:before,
input[type="search"] {
    box-sizing: border-box;
}

body:before {
    display: block;
    content: " ";
}

svg {
    stroke: transparent;
    stroke-width: 0px;
}

.body-wrapper {
    background-color: #e5f8f9;
}

.body-wrapper.flip-background-image {
    min-height: 25vw;
    position: relative;
}

.body-wrapper.flip-background-image:before {
    background-position: bottom;
    height: 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.body-wrapper.flip-background-image:before {
    background-image: url(../images/big-swoosh.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 429px;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    overflow-x: hidden;
}

div.row {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: -16px;
    box-sizing: border-box;
}

@media (max-width: 930px) {
    div.row {
        flex-direction: column;
    }
    div.container.bottom .row {
        margin-left: auto;
        margin-right: auto;
    }
    div.market-place {
        padding-top: 0px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
    div.summary {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
        max-width: 90%;
    }
    div.column-one,
    div.column-two {
        width: 50%;
    }
    div.card-container {
        max-width: 100%;
        min-height: 264px;
    }
    div.column-two {
        margin-top: 0;
    }
    ul.glide__slides {
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        justify-content: left;
    }
    ul .glide__slide {
        width: 160px;
    }
}

@media (max-width: 640px) {
    div.summary {
        flex-direction: column;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
    }
    div.column-one,
    div.column-two {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    div.card-container {
        max-width: 100%;
        min-height: unset;
        margin-bottom: 32px;
    }
    ul.glide__slides {
        /* margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap; */
        justify-content: center;
    }
}

.sub-heading {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #787393;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main-text {
    font-size: 3rem;
    letter-spacing: -2px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 110%;
    font-weight: 500;
}

h2,
p {
    line-height: 140%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.summary {
    margin-top: 48px;
    flex: 0 0 42.857142857142854%;
    max-width: 42.857142857142854%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
    grid-template-rows: 40px auto 40px auto 40px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card,
.card--small {
    background-color: #fff;
    box-shadow: 0 8px 40px rgba(27, 20, 67, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
}

.card,
.card--small {
    background-color: #fff;
    box-shadow: 0 8px 40px rgba(27, 20, 67, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
}

.h-full {
    height: 100%;
}

.card--small {
    padding: 24px;
    box-sizing: border-box;
}

.card-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 0.95rem;
    border: 0 solid #e2e8f0;
    border-bottom-width: 2px;
    border-color: #01bbc8;
    border-style: solid;
    box-sizing: border-box;
}

.summary .number {
    letter-spacing: -0.03em;
    font-size: 4.5rem;
    margin-bottom: 38px;
    line-height: 92%;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    display: flex;
    font-weight: 600;
}

.summary .number .currency {
    font-size: 3rem;
    margin-top: -3px;
    margin-right: 3px;
}

.summary .text {
    font-size: 1rem;
    color: #787393;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

p {
    line-height: 140%;
    margin: 0;
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: Bold;
}

.ml-20 {
    margin-left: 20px;
}

.cols {
    display: flex;
}

.market-place {
    margin-left: 20px;
    margin-right: 40px;
    flex-direction: column;
    display: flex;
    padding-top: 96px;
    padding-bottom: 72px;
    margin-top: 112px;
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 0 0 42.857142857142854%;
    max-width: 42.857142857142854%;
}

.column-one,
.column-two {
    display: flex;
    flex-direction: column;
}

.column-one {
    margin-right: 32px;
}

.column-two {
    margin-top: 73px;
}

.card-container {
    max-width: 265px;
    min-height: 255px;
}

.card-container.item-one {
    margin-bottom: 32px;
}

.container.bottom {
    margin-top: unset;
    margin-bottom: 96px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

.container.bottom .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.container.bottom .row .col-12 {
    flex: 0 0 85.71428571428571%;
    max-width: 85.71428571428571%;
}

@media (min-width: 1024px) {
    .container.bottom .row .col-12 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 16px;
        padding-left: 16px;
        border: 0 solid #e2e8f0;
    }
}

.container.bottom .row .glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.glide__marker {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    left: 0;
    margin-left: -18px;
    position: absolute;
    top: 58px;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.glide__bullets {
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
    user-select: none;
    box-sizing: inherit;
}

.glide__bullet {
    position: relative;
    color: #787393;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-right: 32px;
    margin-bottom: 32px;
    transition: color 0.3s ease;
}

.glide__bullet.active {
    color: #1b1443;
    outline: none;
}

.glide__bullet {
    padding: 0;
    line-height: inherit;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    border: 0 solid #e2e8f0;
}

.glide * {
    box-sizing: inherit;
}

.glide__slides,
.glide__track {
    overflow: hidden;
}

.glide__track {
    padding-top: 30px;
}

.glide__slides {
    max-width: 1200px;
    position: relative;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    padding: 0;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translate3d(0px, 0px, 0px);
    margin-left: 50px;
}

@media (min-width: 1024px) {
    .glide__slides {
        margin-bottom: 30px;
    }
}

fieldset,
ol,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.glide__slide {
    width: 190px;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

@media (min-width: 1024px) {
    .glide__img-wrapper {
        width: 16.667%;
    }
}

@media (min-width: 768px) {
    .glide__img-wrapper {
        width: 25%;
    }
}

.glide__img-wrapper {
    margin-left: -30px;
    padding: 16px 32px 32px;
    background-color: #e5f8f9;
    flex: none;
    width: 50%;
    border: 0 solid #e2e8f0;
}

.glide__img-wrapper.big {
    margin-top: -18px;
}

.glide__img-wrapper:not(.big) {
    width: 180px;
    margin-top: -5px;
}

.glide__img-wrapper.big {
    width: 120px;
}

.glide__img-wrapper.biggest {
    width: 130px;
    margin-top: -16px;
}

.glide__img {
    width: 100%;
    mix-blend-mode: multiply;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}